.teachercourses-container {
  display: flex;
  
}

.greenbox {
  width: 13.25rem;
  height: 9.0625rem;
  flex-shrink: 0;

  border-radius: 1rem 1rem 0rem 0rem;
  background: var(--primary-text-color);
}

.teachercourses {
  flex: 1;
  background-color: var(--background-color);
}

.teachercourses >*{
  background-color: var(--background-color);
}
.allcards {
  display: flex;
  gap: 2.5rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.teachercourses h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--primary-text-color);
  font-size: 2rem;
  margin-top: 2rem;
}
