.navItem-container a {
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
}

.navItem-container a {
  text-decoration: none;
  color: #1f2128;
}

.navItem-container a:hover {
  color: #1db19f;
}

.navItem-container a.active {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #1db19f;
}
