.choose-text {
  margin-top: 5rem;
  text-align: center;
  color: var(--secondary-text-color);

  font-size: 3.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.135rem;
}

.choose-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.4375rem;
  margin-top: 4rem;
}
.choose-box {
  width: 10.9375rem;
  height: 10.9375rem;
  border-radius: 2.3125rem;
  background: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-box img {
  background: none;
  width: 7.4375rem;
  height: 7.4375rem;
}
.teacherbtn,
.studentbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.19rem;
}

.teacherbtn h2,
.studentbtn h2 {
  color: var(--Darker, #1f2128);
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
