* {
  background-color: #e9eff6;
  color: #1f2128;
  margin: 0;
  padding: 0;
}

.leftSide {
  margin-left: 148px;
  margin-top: 170px;
}

.leftSide h1 span {
  color: #1db19f;
}

.welcome {
  font-size: 3.6rem;
  font-weight: 800;
  letter-spacing: -0.08rem;
}

.leftSide p {
  color: #1f2128;
  width: 550px;
  margin-top: 15px;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: -0.015rem;
}

.buttons {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.heroSection {
  display: flex;
  justify-content: space-between;
}

.rightSide img {
  width: 450px;
}

.rightSide {
  margin-right: 130px;
  margin-top: 110px;
}
